.todo-elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border: 1px solid #2061cb;
    margin: 10px 20px;
}
.todo-elem span{
   margin-left: 10px; 
}
.text-line-through{
    text-decoration: line-through;
    
}
.todo-elem button{
    padding: 4px 12px;
    margin-left: 10px;
    color: #fff;
    background-color: #2061cb;
    border: none;
    border-radius: 5px;
    font-weight:300;
}